<div class="container">
  <form #form="ngForm" (submit)="formSubmit(form)">
    <input type="text" placeholder="FirstName" name="FirstName" ngModel />
    <input type="email" placeholder="Email" name="Email" ngModel />
    <input
      type="text"
      placeholder="Password"
      name="Password"
      ngModel
      appCustomValidation
      pattern="^[a-z]+$"
    />
    <span *ngIf="form.controls?.['Password']?.errors?.['wrongPattern']"
      >Password must be lowerCase and Alfabate</span
    >
    <button type="submit">Submit</button>
  </form>
</div>

<h1>{{ obj | readObject : "id.name.realName" }}</h1>

<div class="wrapper" appInfinitScroll (scrollEmit)="onScroll($event)">
  <li *ngFor="let num of listForInfiniteScroll">{{ num }}</li>
</div>

<div>
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Enter word to highlight"
  />
</div>

<p [search]="searchText" appHighlightText>
  Angular is an awesome framework for building web applications. You can
  highlight any word in this paragraph.
</p>
